:host {
  display: block;
  height: 100vh;
}

.cells-container {
  display: flex;
  justify-content: center;
}

.cell {
  align-items: center;
  border: 2px black solid;
  box-sizing: border-box;
  display: inline-flex;
  height: 200px;
  justify-content: center;
  margin-right: -2px;
  position: relative;
  width: 200px;
}

.cell-info {
  font-size: 10px;
  position: absolute;
  right: 5px;
  text-align: right;
  top: 5px;
}

.settings-btn {
  bottom: 90px;
  position: fixed;
  right: 30px;
}

.cmd-btn {
  bottom: 30px;
  position: fixed;
  right: 38px;
}

.header {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50px;
  width: 100%;
}